button {
  height: 50px;
  width: 100px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-color: red;
}

#word {
  font-size: xx-large;
  line-height: 20px;
  height: 70px;
  width: 400px;
  margin: 10px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
